body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr.novop {
	border-bottom: 2pt solid black;
}

#diabetesM hr {
	border-top-color: #aaaaaa;
}
