<div class="row">
<div class="col-md-8 col-md-offset-2">
	<h2>rkdm</h2>
	<hr>
	<p>Upišite šifru audita u rubriku šifra. Šifru formirati na sljedeći način:</p>
	<p>Inicijali imena i prezimena + broj tima + D + 2 cifre za datum + 2 cifre za mjesec + 4 cifrena reprezentacija vremena kreiranja</p>
	<p>npr. za dr. Ferdinanda Hadžića, čiji je tim 12, i koji kreira audit 17.3. u 9:42 sati šifra bi bila:</p>
	<p>FH 12 D 1703 0942 - tj. bez razmaka FH12D17030942</p>
	<p>Šifru nakon toga čuvajte da bi mogli pristupiti rezultatima ili dodati još podataka</p>
	<hr>
	<div class="form-group">
        <div class="alert alert-danger" ng-hide="code_alert">Upisati šifru!</div>
	    <label>Šifra</label>
	    <input type="text" class="form-control" name="name" ng-model="diabetes.code" style="margin-bottom:10px; width: 50%;">
	    <button type="button" class="btn btn-primary" ng-click="openModal()">Audit</button>
        <button type="button" class="btn btn-primary" ng-click="openResults()">Rezultati</button>
	</div>

	<div class="modal fade" id="diabetesM" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                <h4 class="modal-title">Obrazac za pregled zdravstvenog kartona pacijenta</h4>
            </div>
            
            <div class="modal-body">
                <div class="alert alert-success" ng-hide="success_alert">Uspješan unos!</div>
                <!-- input box -->
                <div class="form-group">
                    <label>Godina rođenja</label>
                    <input type="text" class="form-control" name="godiste" ng-model="formData.godiste">
                </div>
                
                <!--radio buttons -->
                <div>
                    <label>Spol</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="spol" value="M" ng-model="formData.spol">
                                Muški
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="spol" value="Ž" ng-model="formData.spol">
                                Ženski
                            </label>
                        </div>
                    </div>
                </div>
                
                           
                
                <!-- toggle choice -->
                <div>
                    <label>Porodična anamneza Diabetes Mellitusa</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="porodicna_anamneza" ng-value="true" ng-model="formData.porodicna_anamneza">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="porodicna_anamneza" ng-value="false" ng-model="formData.porodicna_anamneza">
                                NE
                            </label>
                        </div>
                    </div>
                </div>

                <!--radio buttons -->
                <div>
                    <label>Tip Diabetes Mellitusa</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="tipDM" value="E10" ng-model="formData.tipDM">
                                E10
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tipDM" value="E11" ng-model="formData.tipDM">
                                E11
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tipDM" value="Drugi" ng-model="formData.tipDM">
                                Drugi
                            </label>
                        </div>
                    </div>
                </div>

                 <!-- input box -->
                <div class="form-group">
                    <label>Broj hospitalizacija u proteklih 12 mjeseci u vezi sa diabetes mellitusom</label>
                    <input type="text" class="form-control" name="hospitalizacija" ng-model="formData.hospitalizacija">
                </div>

                <!-- toggle choice -->
                <div>
                    <label>U proteklih 12 mjeseci rađen test HbA1C test i registrovan u kartonu</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="hba1c" ng-value="true" ng-model="formData.hba1c">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="hba1c" ng-value="false" ng-model="formData.hba1c">
                                NE
                            </label>
                        </div>
                    </div>
                </div>

                <!--radio buttons -->
                <div ng-show="formData.hba1c">
                    <label>Ako je rađen, zaokružiti evidentiranu vrijednost HbA1C</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValHbA1C" value="+7" ng-model="formData.ValHbA1C">
                                Veća od 7,0%
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValHbA1C" value="-7" ng-model="formData.ValHbA1C">
                                Manja od 7,0%
                            </label>
                        </div>
                    </div>
                </div>

                <!-- toggle choice -->
                <div>
                    <label>U protekla 3 mjeseca rađen i registrovan test glukoze u krvi natašte</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="glukoza" ng-value="true" ng-model="formData.glukoza">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="glukoza" ng-value="false" ng-model="formData.glukoza">
                                NE
                            </label>
                        </div>
                    </div>
                </div>

                <!--radio buttons -->
                <div ng-show="formData.glukoza">
                    <label>Ako je rađen, zaokružiti evidentiranu vrijednost glukoze</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValGlukoza" value="+7" ng-model="formData.ValGlukoza">
                                Veća od 7,0 mmol/l
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValGlukoza" value="-7" ng-model="formData.ValGlukoza">
                                Manja od 7,0 mmol/l
                            </label>
                        </div>
                    </div>
                </div>

                <!-- toggle choice -->
                <div>
                    <label>U protekla 3 mjeseca rađen i registrovan test glukoze u krvi 2 sata nakon jela</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="glukoza2" ng-value="true" ng-model="formData.glukoza2">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="glukoza2" ng-value="false" ng-model="formData.glukoza2">
                                NE
                            </label>
                        </div>
                    </div>
                </div>

                <!--radio buttons -->
                <div ng-show="formData.glukoza2">
                    <label>Ako je rađen, zaokružiti evidentiranu vrijednost glukoze</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValGlukoza2" value="+11" ng-model="formData.ValGlukoza2">
                                Veća od 11,1 mmol/l
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ValGlukoza2" value="-11" ng-model="formData.ValGlukoza2">
                                Manja od 11,1 mmol/l
                            </label>
                        </div>
                    </div>
                </div>

                <!-- toggle choice -->
                <div>
                    <label>U posljednjih 12 mjeseci registrovana tjelesna visina i tezina</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ttv" ng-value="true" ng-model="formData.ttv">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ttv" ng-value="false" ng-model="formData.ttv">
                                NE
                            </label>
                        </div>
                    </div>
                </div>

                <!-- toggle choice -->
                <div>
                    <label>Evidentiran BMI</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="hba1c" ng-value="true" ng-model="formData.bmi">
                                DA
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="hba1c" ng-value="false" ng-model="formData.bmi">
                                NE
                            </label>
                        </div>
                    </div>
                </div>


            </div><!-- /.modal-body -->
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Zatvori</button>
                <button type="button" class="btn btn-primary" id="addButton"
                        data-loading-text="Šaljem..." ng-click="sacuvaj()">Sačuvaj</button>
          	</div>
            

            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="diabetesResults" tabindex="-1" role="dialog" aria-labelledby="dResults" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Zbirni obrazac {{results.broj_kartona}} zdravstvenih kartona pacijenata kojima je dijagnosticiran diabetes mellitus</h4>
            </div>
            
            <div class="modal-body">
            
                <table class="table table-striped table-bordered"><thead>
                <th>RB</th><th>Odabrani pokazatelj</th><th>Vrijednost</th>
                </thead><tbody>
                <tr>
                    <td>1.</td><td>Broj pacijenata ukupno</td><td>{{results.muski + results.zenski}}</td>
                </tr>
                <tr>
                    <td> </td><td>Broj pacijenata muški</td><td>{{results.muski}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata ženski</td><td>{{results.zenski}}</td>
                </tr>
                <tr class="novop">
                    <td>2.</td><td>Broj pacijenata sa porodičnom anamnezom diabetes mellitusa</td><td>{{results.porodicna_anamneza_dm_poz}}</td>
                </tr>
                <tr>
                    <td>3.</td><td>Broj pacijenata sa dijagnozom (MK10) E10</td><td>{{results.e10}}</td>
                </tr>
                <tr>
                    <td> </td><td>Broj pacijenata sa dijagnozom (MK10) E11</td><td>{{results.e11}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata sa dijagnozom (MK10) Drugo</td><td>{{results.e_drugo}}</td>
                </tr>
                <tr class="novop">
                    <td>4.</td><td>Broj pacijenata koji su hospitalizirani u proteklih 12 mjeseci u vezi sa diabetes mellitusom</td><td>{{results.hospitalizirani_poz}}</td>
                </tr>
                <tr>
                    <td>5.</td><td>Broj pacijenata kojima je rađen HbA1C u ptoteklih 12 mjeseci</td><td>{{results.hba1c}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata sa vrijednošću HbA1C većom od 7,0%</td><td>{{results.hba1c_vece_7}}</td>
                </tr>
                <tr>
                    <td>6.</td><td>Broj pacijenata sa registrovanim testom glukoze u krvi natašte u protekla 3 mjeseca</td><td>{{results.glukoza}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata sa vrijednošću ŠUK većom od 7,0 mmol/l</td><td>{{results.glukoza_vece_7}}</td>
                </tr>
                <tr>
                    <td>7.</td><td>Broj pacijenata sa registrovanim testom glukoze u krvi 2 sata nakon jela</td><td>{{results.glukoza2}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata sa vrijednošću glukoze u krvi većom od 11,1 mmol/l</td><td>{{results.glukoza2_vece_11}}</td>
                </tr>
                <tr>
                    <td>8.</td><td>Broj pacijenata sa registrovanim tjelesnom težinom i visinom u proteklih 12 mjeseci</td><td>{{results.ttv}}</td>
                </tr>
                <tr class="novop">
                    <td> </td><td>Broj pacijenata sa evidentiranim BMI</td><td>{{results.bmi}}</td>
                </tr>

                </tbody></table>

            </div><!-- /.modal-body -->
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" id="saveButton"
                        data-loading-text="Šaljem..." ng-click="savePDF()">Sačuvaj PDF</button>
                        <button type="button" class="btn btn-primary" id="printButton"
                        data-loading-text="Šaljem..." ng-click="printPDF()">Štampaj obrazac</button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
</div>

